h1 {
   padding: $medida-principal;
   color: $color-principal;
   transition: 6s;
   flex-wrap: wrap;
   display: flex;
}

h1:hover {
   transform: rotateY(180deg);
}

h2 {
   font-size: medium;
   padding: $medida-principal;
   color: $color-principal;
   flex-wrap: wrap;
   display: flex;
}

p ul {
   flex-wrap: wrap;
   padding: $medida-principal;
}

main {
   padding: $medida-principal;
   flex-wrap: wrap;
   display: flex;
}

body p {
   padding: $medida-principal;
   flex-wrap: wrap;
}

div {
   flex-wrap: wrap;
}

body ul {
   flex-wrap: wrap;
   list-style-type: square;
}

.desarrollo {
   flex-wrap: wrap;
   display: flex;
   color: $color-secundario;
}

.imagen-desarrollo img {
   width: 100%;
   padding: $medida-principal;
}

.ubicacion {
   flex-wrap: wrap;
   display: flex;
   color: $color-secundario;
   justify-content: center;
}

.imagen-ubicacion img {
   width: 100%;
   padding: $medida-principal;
}

.productos {
   flex-wrap: wrap;
   display: flex;
   justify-content: space-evenly;
}





