h1 {
   padding: 2%;
   color: rgba(94, 94, 110, 0.801);
   transition: 6s;
   flex-wrap: wrap;
   display: flex;
}

h1:hover {
   transform: rotateY(180deg);
}

h2 {
   font-size: medium;
   padding: 2%;
   color: rgba(94, 94, 110, 0.801);
   flex-wrap: wrap;
   display: flex;
}

p ul {
   flex-wrap: wrap;
   padding: 2%;
}

main {
   padding: 2%;
   flex-wrap: wrap;
   display: flex;
}

body p {
   padding: 2%;
   flex-wrap: wrap;
}

div {
   flex-wrap: wrap;
}

body ul {
   flex-wrap: wrap;
   list-style-type: square;
}

.desarrollo {
   flex-wrap: wrap;
   display: flex;
   color: black;
}

.imagen-desarrollo img {
   width: 70%;
   padding: 2%;
}

.ubicacion {
   flex-wrap: wrap;
   display: flex;
   color: black;
   justify-content: center;
}

.imagen-ubicacion img {
   width: 80%;
   padding: 2%;
}

.productos {
   flex-wrap: wrap;
   display: flex;
   justify-content: space-evenly;
}





