footer {
    ul {
      flex-wrap: wrap;
      list-style-type: none;
      color: darkblue;
    }
    flex-wrap: wrap;
    background-color: ivory;
  }


.comunicacion {
  color: brown;
  text-decoration: dotted;

.comunicacion:hover {
  color: black;
}
}