 header {
     nav {
         ul {
             color: #9fdadb;

         }
     }
 }

 .menu-bootstrap {
     width: 100%;
     display: flex;
     justify-content: space-evenly;
 }


 .inicio {
     margin: 5%
 }