 header {
     nav {
         ul {
             color: #9fdadb;

         }
     }
 }

 .menu-bootstrap {
     width: 100%;
     display: flex;
     justify-content: space-evenly;
 }


 .inicio {
     color: rgba(94, 94, 110, 0.801);
     margin: 10%
 }
