@import "reset";
@import "_footers";
@import "headers";
@import "_cuerpo";


@media only screen and (max-width: 500px) {

    body {
       background-color: rgb(252, 252, 251);
    }
 }
 
 @media only screen and (min-width: 501px) and (max-width: 968) {
    body {
       background-color: antiquewhite;
    }
 }
 
 @media only screen and (min-width: 961px) {
    body {
       background-color: aliceblue;
    }
 }
 
 @font-face {
    font-family: 'roboto-general';
    src: url('../roboto/Roboto-Regular.tff');
 }
